1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [ ]:
#ANSWERS:-

1- Write a program that takes two numbers (a = 15 , b = 4) and prints their:
Sum

Difference

Product

Division

Floor Division

Modulus

In [1]:
a= 15
b= 4

In [2]:
print (a-b)

11

In [3]:
print (a*b)

60

In [4]:
print(a/b)

3.75

In [5]:
print(a//b)

3

In [6]:
print(a%b)

3

2 Convert the following: (num1 = 10, num2 = 5.6, num3 = 4.43)
Integer to float

Float to integer

Float to String

In [7]:
num1 =10
num2 =5.6
num3 =4.43

In [8]:
print(num1)

10

In [9]:
#A) Integer to Float
float(10)

10.0

In [10]:
#B) Float to Integer
int(5.6)

5

In [11]:
#C) Float to String
str(4.43)

'4.43'

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [12]:
fruits=["apple","banana","cherry","coconut","pineapple","mango","orange"]

In [13]:
fruits[0]

'apple'

In [14]:
fruits[-1]

'orange'

In [15]:
fruits[4]

'pineapple'

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [16]:
numbers=[10,20,30,40,50]

In [17]:
numbers[0:3]

[10, 20, 30]

In [18]:
numbers[1:]

[20, 30, 40, 50]

In [19]:
numbers[0:4]

[10, 20, 30, 40]

In [20]:
numbers.reverse()

In [21]:
numbers

[50, 40, 30, 20, 10]

In [22]:
numbers[1:5:2]

[40, 20]

5. Add the number 10 to the end of the list using method.
nums = [1, 2, 3]

In [23]:
nums= [1,2,3]

In [24]:
nums.append(10)

In [25]:
nums

[1, 2, 3, 10]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [32]:
nums

[1, 2, 3]

In [42]:
nums[0]=99

In [43]:
nums

[99, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [33]:
number= [1,2,3]

In [34]:
number

[1, 2, 3]

In [31]:
number2= [4,5]

In [32]:
number2

[4, 5]

In [35]:
number.extend(number2)

In [37]:
number

[1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [38]:
nums= [4,1,3,2]

In [39]:
nums

[4, 1, 3, 2]

In [40]:
nums.sort()

In [41]:
nums

[1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["biryani","burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [42]:
order= ["biryani","burger","fries","coke"]

In [43]:
order

['biryani', 'burger', 'fries', 'coke']

In [44]:
order.append("ice cream")

In [45]:
order

['biryani', 'burger', 'fries', 'coke', 'ice cream']

In [46]:
order.remove("biryani")

In [47]:
order

['burger', 'fries', 'coke', 'ice cream']

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [48]:
passengers= ["Ali","Zara","Ahmed"]

In [49]:
passengers

['Ali', 'Zara', 'Ahmed']

In [50]:
passengers.append("Sara")

In [51]:
passengers

['Ali', 'Zara', 'Ahmed', 'Sara']

In [52]:
passengers.remove("Zara")

In [53]:
passengers

['Ali', 'Ahmed', 'Sara']

In [54]:
passengers.reverse()

In [55]:
passengers

['Sara', 'Ahmed', 'Ali']